{{>layout/header}}
{{>layout/second-header}}
	
	{{#usr}}
		{{^usr.author}}
			<script language="javascript">
				window.location.href= "/me/register";
			</script>
		{{/usr.author}}
	{{/usr}}

	<div class="container">
		<h1> 전체 글 </h1>
        
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/{{user.author}}/posts/view/{{id}}">{{title}}</a></td>
                    <td>{{user.author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}