{{>layout/header}}
{{>layout/second-header}}

	<div class="container">
		<h1> 전체 글 </h1>
        
        <!-- 목록 출력 영역 -->
		<br>
		<div class ="row">
			{{#posts}}
				<a href="/{{user.author}}/posts/view/{{id}}">
					<div class="card-deck">
						<div class ="col-md-4">
							<div class="card" style="width:250px;height:200px;">
								{{#file}}
									<img class ="card-img-top" src="/posts-image/{{file.fileName}}" style="width:250px;height:100px;">

									<div class="card-body" style="width:250px;height:50px;">
										<h5 class="card-title">{{title}}</h5>
									</div>
								{{/file}}
								{{^file}}
									<div class="card-body" style="width:250px;height:150px;">
										<h5 class="card-title">{{title}}</h5>
									</div>
								{{/file}}

								<div class="card-footer" style="width:250px;height:50px;">
									<small class="text-muted">by <strong>{{user.author}}</strong></small>
								</div>

							</div>
							<br><br><br>
						</div>
					</div>
				</a>
			{{/posts}}
		
		</div>

    </div>
{{>layout/footer}}