{{>layout/header}}
{{>layout/second-header}}

<div class="container">
	<h1>게시글 조회</h1>

	<form>
		<div class="form-group row">
			<label for="title" class="col-sm-2 col-form-label"><strong> 제목 </strong></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="title" value="{{post.title}}" readonly>
			</div>
		</div>
		<div class="form-group row">
			<label for="author" class="col-sm-2 col-form-label"><strong> 작성자 </strong></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="author" value="{{post.user.author}}" readonly>
			</div>
		</div>
		<div class ="form-group row">
			<label for="image" class="col-sm-2 col-form-label"><strong> 이미지 </strong></label>
			<div class="col-sm-10">
				{{#post.file}}
					<img class ="form-image" src="/posts-image/{{post.file.fileName}}" style="width:250px;height:100px;">
				{{/post.file}}
				{{^post.file}}
					
				{{/post.file}}
				
			</div>
		</div>
		<div class="form-group row">
			<label for="content" class="col-sm-2 col-form-label"><strong> 내용 </strong></label>
			<textarea class="form-control" id="content" cols="30" rows="10" readonly>{{post.content}}</textarea>
		</div>
	</form>
	<a href="/" role="button" class="btn btn-secondary">이전으로</a>
	<div id="disqus_thread"></div>
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
		/*
		var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://simple-blog-9.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

{{>layout/footer}}