<!DOCTYPE HTML>
<html>
<head>
	<title> simpleBlog</title>
	<meta http-equiv="refresh" content="0; url=/logout" />
</head>
<body>

	{{! <script language="javascript">
		locataion.href= "/logout";
	</script> }}
</body>
</html>