{{>layout/header}}
{{>layout/second-header}}
	
	<div class="container">
	<h1>{{usr.name}} 님의 글</h1>

	<div class="col-md-12">
        
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#userPosts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/userPosts/update/{{id}}">{{title}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/userPosts}}
            </tbody>
        </table>
    </div>
	</div>
{{>layout/footer}}