<!DOCTYPE HTML>
<html>
<head>
	<title> simpleBlog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<!-- 로고 및 개인 영역 -->
	<a href ="/"> <img src ="/image/simpleBlog.png"> </a>
	<br><br><br>