<!-- 로고 및 개인 영역 -->
	<div class ="container-fluid">
		<div class="row">
			<!-- 로고 -->
			<div class="col-9">
				<a href ="/"> <img src ="/image/simpleBlog.png"> </a>
			</div>
		
			<!-- 사용자 정보 -->
			<div class="col-1">
				<div class="float-right">
					{{#usr}}
						<span id="user">
							<div class="dropdown">
    							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      								{{usr.name}} 님</span>
    							</button>
    							<div class="dropdown-menu">
      								<a class="dropdown-item" href="/me">유저 홈</a>
									<a class="dropdown-item" href="/posts/save">글 등록</a>
									<a class="dropdown-item" href="/me/setting">설정</a>
      								<a class="dropdown-item" href="/sign/out">로그아웃</a>
    							</div>
							</div>
					{{/usr}}
					{{^usr}}
						<a href="/sign/in" role="button" class="btn btn-info active">로그인</a>
         	 	  	{{/usr}}
      			</div>
			</div>
		</div>
	</div>
	<br><br><br>