<!-- 로고 및 개인 영역 -->
	<div class="row">
		<div class="col-md-6">
			<a href ="/"> <img src ="/image/simpleBlog.png"> </a>
		</div>
		
		<div class="col-md-6">
			{{#usr}}
				<a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
				Logged in as: <span id="user">{{usr.name}}</span>
				<a href="/logout" class="btn btn-info active" role="button">Logout</a>
			{{/usr}}
			{{^usr}}
				<a href="/login/with" role="button" class="btn btn-info active">로그인</a>
            {{/usr}}
        </div>
    </div>
	<br><br><br>